# R6.1 Lambda Functions

In [1]:
cube = lambda x: x ** 3

In [2]:
type(cube)

function

In [3]:
cube(2)

8

In [4]:
cube(10)

1000

In [5]:
cube(120)

1728000

---

In [6]:
one_to_ten = list(range(1, 11))
one_to_ten

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
random_numbers = [3, 7, 2, 1, 5, 0, 9, 18, 6]
random_numbers

[3, 7, 2, 1, 5, 0, 9, 18, 6]

In [8]:
names = ['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
names

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']

---

# R6.2 `map`

In [9]:
print(one_to_ten)
print(list(map(cube, one_to_ten)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [10]:
attach_length = lambda s: (s, len(s))
# Python - Type Hints
print(names)
print(list(map(attach_length, names)))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
[('Ali', 3), ('Noor', 4), ('Mais', 4), ('Mi', 2), ('Angilina', 8)]

# R6.3 `filter`

In [11]:
print(one_to_ten)
print(list(filter(lambda x: x < 5, one_to_ten)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4]

In [12]:
print(random_numbers)
print(set(filter(lambda x: x % 2 != 0, random_numbers)))

[3, 7, 2, 1, 5, 0, 9, 18, 6]
{1, 3, 5, 7, 9}

In [13]:
print(names)
print(list(filter(lambda n: len(n) > 3, names)))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
['Noor', 'Mais', 'Angilina']

# R6.4 `enumerate`

In [14]:
print(names)
print(list(enumerate(names)))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
[(0, 'Ali'), (1, 'Noor'), (2, 'Mais'), (3, 'Mi'), (4, 'Angilina')]

In [15]:
print(random_numbers)
print(list(enumerate(random_numbers)))

[3, 7, 2, 1, 5, 0, 9, 18, 6]
[(0, 3), (1, 7), (2, 2), (3, 1), (4, 5), (5, 0), (6, 9), (7, 18), (8, 6)]

In [16]:
for i, name in enumerate(names):
    print(f"{name} is at index {i}")

Ali is at index 0
Noor is at index 1
Mais is at index 2
Mi is at index 3
Angilina is at index 4

# R6.5 `sorted`

In [17]:
print(random_numbers)
print(sorted(random_numbers))

[3, 7, 2, 1, 5, 0, 9, 18, 6]
[0, 1, 2, 3, 5, 6, 7, 9, 18]

In [18]:
print(random_numbers)
print(sorted(random_numbers, reverse=True))

[3, 7, 2, 1, 5, 0, 9, 18, 6]
[18, 9, 7, 6, 5, 3, 2, 1, 0]

In [19]:
print(names)
print(sorted(names, key= lambda n: len(n)))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
['Mi', 'Ali', 'Noor', 'Mais', 'Angilina']

# R6.6 `all`

In [20]:
print(one_to_ten)
print(all(one_to_ten))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
True

In [21]:
print(names)
print(all(names))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
True

In [23]:
longer_than_three = lambda n: len(n) > 3
are_names_longer_than_three = list(map(longer_than_three, names))

print(names)
print(are_names_longer_than_three)
print(all(are_names_longer_than_three))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
[False, True, True, False, True]
False

# R6.7 `any`

In [24]:
print(one_to_ten)
print(any(one_to_ten))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
True

In [25]:
longer_than_three = lambda n: len(n) > 3
are_names_longer_than_three = list(map(longer_than_three, names))

print(names)
print(are_names_longer_than_three)
print(any(are_names_longer_than_three))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
[False, True, True, False, True]
True

# R6.8 `sum`

In [26]:
print(one_to_ten)
print(sum(one_to_ten))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [27]:
print(one_to_ten)
print(sum(one_to_ten, start= 100))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
155

# R6.9 `max`

In [28]:
print(random_numbers)
print(max(random_numbers))

[3, 7, 2, 1, 5, 0, 9, 18, 6]
18

In [29]:
print(names)
print(max(names))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
Noor

In [30]:
print(names)
print(max(names, key= lambda n: len(n)))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
Angilina

In [31]:
print(max(10, 20))

20

# R6.10 `min`

In [32]:
print(random_numbers)
print(min(random_numbers))

[3, 7, 2, 1, 5, 0, 9, 18, 6]
0

In [33]:
print(names)
print(min(names))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
Ali

In [34]:
print(names)
print(min(names, key= lambda n: len(n)))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
Mi

In [35]:
print(min(30, 10, 20))

10

# R6.11 `zip`

In [36]:
print(names)
print(list(zip(range(len(names)), names)))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
[(0, 'Ali'), (1, 'Noor'), (2, 'Mais'), (3, 'Mi'), (4, 'Angilina')]

In [37]:
print(names)
print(list(zip(names, [10, 20, 30])))

['Ali', 'Noor', 'Mais', 'Mi', 'Angilina']
[('Ali', 10), ('Noor', 20), ('Mais', 30)]